body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Background putih */
}

.video-section {
  height: 400px;
  background-color: #f5f5f5; /* Background abu-abu muda untuk kontras */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.video-section h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  color: #ff69b4; /* Pink */
}

.search-section {
  margin-top: 20px;
  text-align: center;
}

.search-section h2 {
  color: #1e90ff; /* Biru */
}

.search-section input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #ff69b4; /* Border pink */
  border-radius: 5px;
  margin-right: 10px;
}

.search-section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff69b4; /* Warna pink */
  color: white;
  border: none;
  border-radius: 5px;
}

.search-section button:hover {
  background-color: #ff1493; /* Warna pink lebih gelap saat hover */
}

.result-section {
  margin-top: 20px;
  text-align: center;
  display: none;
}

.result-section h3 {
  font-size: 20px;
  color: #ff69b4; /* Pink */
}

.result-section p {
  font-size: 16px;
  color: #333;
  background-color: #e0ffff; /* Latar belakang biru muda */
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}